# Virtual Environment
.venv/
env/
venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Testing & Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
tests/

# Git
.git/
.gitignore

# Environment Config
.env
.env.*

# IDE files
.idea/
.vscode/
*.iml
